.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20px;
    background-color:var(--color-bg);
    margin-bottom: 170px;
}

.about h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.description{
    font-size: 1rem;
    padding: 10px 14px;
    text-align: center;
}
.about-image-extra{
    position: relative;
    width: 400px;
    height: 580px;
    overflow: hidden;
    border-radius: 2rem;
}
.about-image-extra img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.slider-nav {
    position: absolute;
    top: calc(50% - 40px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  
  .slider-nav-btn {
    position: relative;
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.8;
  }
  
  .slider-nav-btn:hover {
    opacity: 1;
  }
  
  .slider-nav-prev {
    border-radius: 0 4px 4px 0;
  }
  
  .slider-nav-next {
    border-radius: 4px 0 0 4px;
  }
  


.back-btn{
    width: 100%;
    color: var(--color-white);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 28px;
}