.suggestions {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--color-bg-variant);
  border-radius: 10px;
  overflow: hidden;
}

.suggestions-img {
  flex: 0 0 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.suggestions-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.suggestions-name {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  padding: 0 10px;
}

/* Estilos para pantalla de escritorio */
@media (min-width: 768px) {
  .suggestions {
    max-width: 450px;
  }

  .suggestions-img {
    flex: 0 0 140px; /* Hacemos la imagen más grande */
    height: 140px; /* Hacemos la imagen más grande */
    border-radius: 10px 0 0 10px;
  }


  .suggestions-name {
    font-size: 18px; /* Aumentamos el tamaño del texto */
    padding: 0 80px; /* Aumentamos el espacio de padding para mejorar el aspecto */
  }
}