.portfolio h1{
    font-size:18px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 10px;
}
.portfolio-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.portfolio-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 10px;
}
.portfolio-item img{
    width: 140px;
    height: 140px;
    border-radius: 5px;
}
.portfolio-info{
    font-size: 12px;
    font-weight: 400;
}