.button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: var(--color-bg-variant);
    color: var(--color-white);
}
.btn:hover{
    background-color: var(--color-reaction);
}

.aboutPortfolio-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: auto;
}
.aboutPortfolio-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}