.musicPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 130px 0;
  padding: 0 28px;
}

.about-img {
  width: 350px;
  height: 390px;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-song {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-reaction);
  font-size: 1.5rem;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--color-white);
  font-size: 15px;
}

.names h1 {
  font-size: 25px;
}

.progress-bar-container {
  margin-top: 17px;
  width: 100%;
  height: 20px;
  background-color: var(--color-bg-variant);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;

  .time-display {
    font-size: 14px;
    color: var(--color-white);
    min-width: 50px;
    padding: 0 5px;
  }

  .time-duration {
    margin-left: auto;
  }

  .progress-bar {
    flex: 1;
  }
}

input[type='range'] {
  flex: 1;
  margin: 0 5px;
  height: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  appearance: none;

  &::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-white);
    cursor: pointer;
    appearance: none;
  }

  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-white);
    cursor: pointer;
  }
}
.audio-player {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  gap: 20px;
}

.play-pause-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
}

.play-pause-btn:hover {
  color: #666;
}

.volume-bar-container {
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.lyrics-container {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background-color: var(--color-bg-variant);
  border-radius: 10px;
}

.lyrics {
  font-size: 16px;
  color: var(--color-white);
  text-align: justify;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.return-btn {
  margin-top: -100px;
  margin-bottom: 130px;
  left: 0;
  margin-left: 28px;
  position: absolute;
  display: flex;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.5rem;
}

/* Estilos para la vista de escritorio */
@media (min-width: 768px) {
  .about-img {
    width: 500px;
    height: 550px;
  }

  .lyrics-container {
    width: 700px;
  }
}
