.search-page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  padding-bottom: 150px; 
}

.search-page h1 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 14px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--color-bg);
  margin-bottom: 10px;
  border: none;
}
.fixed-search{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  width: 90%;
  height: 45px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
  color: var(--color-bg-variant);
  border-radius: 12px;
}

.search-input::placeholder {
  color: var(--color-bg-variant);
  font-family: 'JetBrains Mono', monospace;
}


.search-results {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 12px;
  padding: 5px 14px;
}


.result {
  display: flex;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--color-bg-variant); 
}

.img-song {
  width: auto;
  height: 65px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center; /* Centramos verticalmente la imagen */
  overflow: hidden; /* Para evitar desbordamientos de imagen */
}

.result img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para la vista de escritorio */
@media (min-width: 768px) {
  .search-results {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Utilizamos flex-basis y flex-grow para que los resultados ocupen 1/3 del ancho de la pantalla */
  .result {
    flex: 0 0 calc(33.33% - 20px); /* Tres columnas en vista de escritorio */
  }

  .result:last-child {
    margin-bottom: 0; /* Eliminamos el margen inferior del último elemento de cada fila */
  }
}
