*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg:#33434e;
  --color-bg-variant: #4c5c64;
  --color-white: #c4d8e9;
  --color-reaction:#e5655e;

  --color-bottom-Bar: #354445;

}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body{
  font-family: 'JetBrains Mono', monospace;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.5;
}