.slider{
    margin-top: 10px;
}
.initial-slogan{
    display: flex;
    align-items: center;
}
.initial-slogan img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.initial-slogan p{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
}
.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.project__img-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.project__img-container img{
    width:390px;
    height:auto;
    border-radius:20px;
    margin-bottom:1rem;
}
.swiper-pagination {
    position: relative;
    padding: 12px;
    height: 100%;
    z-index: 0;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-white);
    width: 150px;
    height: 2px;
    border-radius: 0;
}

